<template>
  <div class="cell ui-widget-content" @click="select" @dblclick="edit">
    <span v-if="!is_edit">{{ item.price }}</span>
    <input style="width: 100%; height: 20px;" v-if="is_edit" v-model.number="item.price" type="number">
  </div>
</template>

<script>
  require('jquery-ui-css/base.css')

  import { CELL_WIDTH, CELL_HEIGHT, GRID_DAYS } from '../utils/consts'

  import moment from 'moment'
  import bus from '../utils/bus'
  import resize from 'vue-resize-directive'
  import 'jquery-ui/resizable.js'
  import 'jquery-ui/draggable.js'

  export default {
    name: 'Cell',
    props: ['item', 'start_date'],
    directives: {
      resize
    },
    created () {
      bus.$on('edit_off', this._edit_off)
    },
    destroyed () {
      bus.$off('edit_off', this._edit_off)
    },
    mounted () {
      var self = this

      bus.$on('render_all', () => {
        self.$nextTick(() => { self.render() })
      })

      $(this.$el).resizable({
        handles: 'n, s',
        start () {
          bus.$emit('currentSet', self.item)
          bus.$emit('edit_off')

          self.is_transform = true
        },
        stop (event, ui) {
          self.is_transform = false
          if (ui.position.top >= 0 && ((ui.position.top + ui.size.height) <= CELL_HEIGHT * 24)) {
            var m = moment(self.item.date.substr(0, 10))
            var newItem = {}

            m.set('minute', Math.round(ui.position.top / CELL_HEIGHT * 60))

            newItem.date = m.format('YYYY-MM-DD HH:mm:00')
            newItem.duration = Math.round(ui.size.height / CELL_HEIGHT * 60)
            newItem.id = self.item.id
            bus.$emit('cellValidate', self.item, newItem)
          }
          self.$nextTick(() => {
            self.render()
          })
        }
      }).draggable({
//        axis: 'y',
        zIndex: 10000,
        start (event, ui) {
          bus.$emit('currentSet', self.item)
          bus.$emit('edit_off')
          self.is_transform = true
        },
        stop (event, ui) {
          self.is_transform = false
          console.log(ui.position.left)
          if ((ui.position.top >= 0 && ((ui.position.top + Math.round(self.item.duration * CELL_HEIGHT / 60)) <= CELL_HEIGHT * 24)) &&
            (ui.position.left >= 0) && (ui.position.left <= (GRID_DAYS - 1) * CELL_WIDTH)) {
            var m = moment(self.start_date)
            var newItem = {}
            m.add('minute', Math.round(ui.position.top / CELL_HEIGHT * 60))
            m.add('day', Math.round(ui.position.left / CELL_WIDTH))

            newItem.date = m.format('YYYY-MM-DD HH:mm:00')
            newItem.duration = self.item.duration
            newItem.id = self.item.id

            bus.$emit('cellValidate', self.item, newItem)
          }
          self.$nextTick(() => {
            self.render()
          })
        }
      })
      self.render()
    },
    data () {
      return {
        is_edit: false,
        is_transform: false
      }
    },
    methods: {
      render () {
        var m = moment(this.item.date, 'YYYY-MM-DD HH:mm:00')
        var ofs = moment(this.start_date, 'YYYY-MM-DD HH:mm:00').date()
        console.log('ofs', ofs, '::', m.date())
        var jq = $(this.$el)
        jq.css({
          left: (m.date() - ofs) * CELL_WIDTH,
          top: m.hour() * CELL_HEIGHT + Math.floor(m.minute() / 60 * CELL_HEIGHT),
          width: CELL_WIDTH,
          height: this.item.duration / 60 * CELL_HEIGHT
        })
      },
      _edit_off () {
        this.is_edit = false
      },
      edit () {
        if (!this.is_edit) {
          bus.$emit('edit_off')
          bus.$emit('currentSet', this.item)
          this.is_edit = true
        }
      },
      select () {
        if (!this.is_edit) {
          bus.$emit('edit_off')
          bus.$emit('currentSet', this.item)
        }
      }
    }
  }
</script>

<style>
  .cell {
    position: absolute !important;
    z-index: 1000;
    background: red;
    width: 107px;
    height: 120px;
  }
</style>
