<template>
  <div :style="styleContainerGen()" class="appointment">
    <div class="cell-x cell-h" :style="styleGen(day-1, -1)" v-for="day in GRID_DAYS">{{ dayGen(day-1) }}</div>
    <div class="appointment-grid" :style="appointmentStyle">
      <div class="cell-yr" v-for="hour in 24" :style="styleRulerGen(hour - 1)">
        <span v-if="hour < 10">0</span>{{ hour - 1 }}
      </div>
      <div class="cell-x" v-for="day in GRID_DAYS" :style="styleGen(day-1, -1)">
        <div @click="edit_off()" @dblclick="edit($event, day-1, hour)"
             :style="styleGen(day, hour)"
             :class="['cell-y', day == GRID_DAYS ? 'last-x': '', hour == 24 ? 'last-y' : ''] " v-for="hour in 24">
        </div>
      </div>
      <cell v-for="item in data.items" :key="item.id" :start_date="data.start_date" :item="item"></cell>
    </div>
  </div>
</template>

<script>
  import { CELL_WIDTH, CELL_HEIGHT, CELL_WIDTH_RULER, GRID_DAYS } from '../utils/consts'
  import Moment from 'moment'
  import { extendMoment } from 'moment-range'
  import bus from '../utils/bus'
  import Cell from './Cell.vue'
  import utils from '../utils/utils'

  const moment = extendMoment(Moment)
  moment.locale('ru')

  export default {
    name: 'Grid',
    props: ['data'],
    components: {
      Cell
    },
    data () {
      return {GRID_DAYS}
    },
    computed: {
      appointmentStyle () {
        return 'top:' + (CELL_HEIGHT + 20) + 'px;'
      }
    },
    created () {
      bus.$on('cellValidate', this._cellValidate)
    },
    destroyed () {
      bus.$off(this._cellValidate)
    },
    methods: {
      styleGen (day, hour) {
        var strStyle = 'width:' + CELL_WIDTH + 'px;height:' + CELL_HEIGHT + 'px;'
        if (hour < 0) strStyle += 'left:' + day * CELL_WIDTH + 'px;'
        return strStyle
      },
      styleRulerGen (hour) {
        return 'width:' + CELL_WIDTH_RULER + 'px;height:' + CELL_HEIGHT +
          'px;line-height:' + CELL_HEIGHT + 'px;' + 'left:-' + CELL_WIDTH_RULER + 'px;' +
          'top:' + CELL_HEIGHT * hour + 'px;'
      },
      dayGen (day) {
        var m = moment(this.data.start_date.substr(0, 10))
        console.log(this.data.start_date.substr(0, 10))
        m.add(day, 'days')
//        return m.format('dd DD.YY')
        return m.format('DD.MM.YY')
      },
      styleContainerGen () {
        return 'width:' + CELL_WIDTH * GRID_DAYS + 'px; height:' + CELL_HEIGHT * 25 + 'px;margin-left:' + CELL_WIDTH_RULER + 'px;'
      },
      _cellValidate (item, newItem) {
        // TODO: borders check
        var isError = false
        var nts = moment(newItem.date)
        var nte = moment(newItem.date).add(newItem.duration, 'minutes')
        $.each(this.data.items, function () {
          var item = this
          if (item.id !== newItem.id) {
            var its = moment(item.date)
            var ite = moment(item.date).add(item.duration, 'minutes')

            if (nts.isBetween(its, ite, null, '()') || nte.isBetween(its, ite, null, '()') ||
              its.isBetween(nts, nte, null, '()') || ite.isBetween(nts, nte, null, '()')) {
              console.log('overlap')
              isError = true
              return false
            }
          }
        })
        if (isError) return false
        item.duration = newItem.duration
        item.date = newItem.date
        return true
      },
      edit (e, day, hour) {
        var m = moment(this.data.start_date.substr(0, 10), 'YYYY-MM-DD')
        var id = utils.id()
        console.log('d:', day, ' h:', hour, ':', this.data.start_date)
        m.add(day, 'days')
        console.log('fmt', m.format('YYYY-MM-DD HH:mm:00'))
        m.add(hour - 1, 'hours')
        console.log('hour', hour, day)
        var newItem = {
          price: 0,
          date: m.format('YYYY-MM-DD HH:mm:00'),
          duration: 60,
          id: id
        }
        if (this._cellValidate(newItem, newItem)) {
          this.$set(this.data.items, id, newItem)
        }

        console.log('newItem', this.data.start_date, newItem.date)

        bus.$emit('edit_off')
      },
      edit_off () {
        bus.$emit('edit_off')
      }
    }
  }
</script>

<style>
  .cell-x {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    /*border: 1px solid #ccc;*/
  }

  .cell-y {
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }

  .cell-yr {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
  }

  .last-x {
    border-right: 1px solid #ccc;
  }

  .last-y {
    border-bottom: 1px solid #ccc;
  }

  .appointment-grid, .appointment {
    position: relative;
  }
</style>
