<template>
  <input :id="id" @input="inputChange($event)">
</template>

<script>
  import debounce from 'debounce'
  import bus from '../utils/bus'

  export default {
    name: 'ZInput',
    props: ['value', 'id'],
    mounted () {
      this.$el.value = this.value
    },
    created () {
      this.inputChange = debounce(this.inputChange, 1000)
    },
    methods: {
      inputChange (e) {
        bus.$emit('zinputValidate', this, e.target.value)
      }
    },
    watch: {
      value (newValue) {
        this.$el.value = newValue
      }
    }

  }
</script>
