<template>
  <div id="app">

    <grid :data="data"></grid>
    <hr>
    <div class="clearfix"></div>
    <button @click="dataLoad()">load data</button>
    <button @click="dataSave()">Save data</button>
    <form action="" class="form-horizontal" v-if="current_item">
      <div class="form-group">
        <label for="id_date" class="col-sm-2 control-label">Цена</label>
        <div class="col-sm-10">
          <input id="id_date" type="text" v-model="current_item.price">
        </div>
      </div>
      <div class="form-group" style="padding-left: 20px">
        <z-input :id="'id_date'" :value="inputDate" :item="current_item"></z-input>
        <z-input :id="'id_time_s'" :value="inputTimeS" :item="current_item"></z-input>
        <z-input :id="'id_time_e'" :value="inputTimeE" :item="current_item"></z-input>
      </div>
      <div class="form-group">
        <label for="id_time_to" class="col-sm-2 control-label">по</label>
        <div class="col-sm-10">
          <input id="id_time_to" type="text" v-model="current_item.date">
        </div>
      </div>


      <div v-if="current_item">
        <button @click="cellRemove">remove</button>
      </div>
    </form>
  </div>
</template>

<script>
  import bus from './utils/bus'
  import Moment from 'moment'
  import { extendMoment } from 'moment-range'
  import { GRID_DAYS } from './utils/consts'
  //  import utils from './utils/utils'
  import Grid from './components/Grid'
  import ZInput from './components/ZInput'

  const moment = extendMoment(Moment)

  export default {
    name: 'app',
    components: {
      Grid, ZInput
    },
    computed: {
      inputDate: {
        get () {
          return this.current_item ? moment(this.current_item.date).format('DD.MM.YYYY') : ''
        },
        set (newValue, oldValue) {
          console.log('sett', newValue, oldValue)
        }
      },
      inputTimeS () {
        return this.current_item ? moment(this.current_item.date).format('HH.mm') : ''
      },
      inputTimeE () {
        if (this.current_item) {
          var m = moment(this.current_item.date)
          m.add(this.current_item.duration, 'minutes')
          return m.format('HH.mm')
        }
        return ''
      }
    },
    created () {
      bus.$on('currentSet', (item) => {
        console.log(JSON.stringify(item))
        this.current_item = item
      })
      bus.$on('zinputValidate', this._zinputValidate)
    },
    data () {
      console.log('mm', moment().format('YYYY-MM-DD 00:00:00'))
      return {
        current_item: null,
        data: {
          start_date: moment().format('YYYY-MM-DD 00:00:00'),
          items: {}
        }
      }
    },
    methods: {
      cellRemove (e) {
        e.preventDefault()
        if (this.current_item) {
          console.log('curr item')
          this.$delete(this.data.items, this.current_item.id)
          console.log(this.data.items)
          bus.$emit('render_all')
          this.current_item = {}
        }
      },
      _zinputValidate (item, val) {
        var tm, nts, nte
        if (item.id === 'id_date') {
          var ds = moment(this.data.start_date)
          var de = moment(this.data.start_date).add(GRID_DAYS, 'days')
          var nt = moment(val, 'DD.MM.YYYY')
          if (nt.isBetween(ds, de)) {
            var ct = moment(this.current_item.date)
            nt.add(ct.hours(), 'hours')
            nt.add(ct.minutes(), 'minutes')

            bus.$emit('cellValidate', this.current_item, {
              id: this.current_item.id,
              duration: this.current_item.duration,
              date: nt.format('YYYY-MM-DD HH:mm:00')
            })
          }
        }
        if (item.id === 'id_time_s') {
          tm = val.split('.')
          if (tm.length !== 2) return false
          nts = moment(this.current_item.date.substr(0, 10) + ' ' + tm[0] + ':' + tm[1] + ':00')
          nte = moment(this.current_item.date).add(this.current_item.duration, 'minutes')
          if (nts.isSameOrAfter(nte)) return false

          bus.$emit('cellValidate', this.current_item, {
            id: this.current_item.id,
            duration: nte.diff(nts, 'minutes'),
            date: nts.format('YYYY-MM-DD HH:mm:00')
          })
        }
        if (item.id === 'id_time_e') {
          tm = val.split('.')
          if (tm.length !== 2) return false
          nts = moment(this.current_item.date)
          nte = moment(this.current_item.date.substr(0, 10) + ' ' + tm[0] + ':' + tm[1] + ':00')
          if (nts.isSameOrAfter(nte)) return false

          bus.$emit('cellValidate', this.current_item, {
            id: this.current_item.id,
            duration: nte.diff(nts, 'minutes'),
            date: nts.format('YYYY-MM-DD HH:mm:00')
          })
        }
        return true
      },
      timeSet (e) {
        console.log('e', e.target.value)
      },
      dataSave () {
        console.log('send to server', JSON.stringify(this.data))
      },
      dataLoad () {
        this.data = Object.assign({}, this.data, {
          start_date: '2017-11-01 00:00:00',
          items: {
            1: {price: 1222, duration: 40, date: '2017-11-01 12:00:00', id: 1},
            2: {price: 8000, duration: 95, date: '2017-11-04 00:15:00', id: 2},
            3: {price: 3000, duration: 44, date: '2017-11-05 22:50:00', id: 3}
          }
        })
        bus.$emit('render_all')
        console.log('data load')
      }
    },
    watch: {
      current_item: {
        handler: function (newValue, oldValue) {
          bus.$emit('render_all')
        },
        deep: true
      }
    }
  }
</script>

<style>

</style>
